.actionBarContainer {
    width: 100%;
    margin-top: 2em;
}

.actionBarContainer span {
    color: rgb(0, 188, 212);
    font-size: larger;
    font-style: oblique;
    font-family: sans-serif;
}

.actionBarContainer hr {
    border-color: rgb(0, 188, 212);
    border-top: hidden;
}